*{
    margin: 0;
    padding: 0;
}
li{
    
    text-align:center;
    margin: 12px 270px;
}

nav{
    border: 2px solid black;
    border-radius: 10px ;
    background-color: rgb(243, 181, 157);
    color: white;
    height: 65px;
    width: 50%;
    font-size: 27px;
    display: flex;
    align-items: center;
    margin: 22px 370px;
    

    padding: 0 12px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-align: center;
}

nav ul{
    list-style-type: none;
}

.gameContainer{ 
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    /* 
    font-family: 'Roboto', sans-serif; */
    font-family: 'Edu NSW ACT Foundation', cursive;
    position: relative;
}

.box{
    border: 2px solid rgb(201, 170, 170);
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(242, 234, 250);
}
h1{
    text-align: center;
}
.info {
    font-size: 35px;
    color: rgb(52, 59, 59);
}

.gameInfo{
    padding: 0 34px;
    /* font-family: 'Baloo Bhaina 2', cursive; */
    font-family: 'Edu NSW ACT Foundation', cursive;
}





.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset {
    /* display: flex; */
    /* align-items: center; */
    margin: 18px 279px;
    padding: 5px 17px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    /* font-family: 'Baloo Bhaina 2'; */
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 30px;
    font-weight: bolder;
}
#reset:hover{
    background-color: aqua;
}



@media screen and (max-width: 750px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    nav{
        margin: 15px 55px;
}
li{
    margin: auto;
}
}